**{
    outline: 2px solid #11ff00;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body{
    background-color: rgb(29, 29, 29);
    background: url("Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFFFFF;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(rgb(230, 230, 0),rgba(170, 170, 0));
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    height: auto;
    width: 100vw;
  }

.header header {
    opacity: 0.11;
}


.header ul {
    display: flex;
    flex-direction: row; 
    list-style: none; 
    margin: 0;
}

.header ul li {
    display: flex;
    margin-right: 10px;
}

.header ul li:hover {
    background-color: darkgoldenrod;
    border-radius: 10%;
}

.header ul li a {
    text-decoration: none;
    color: black; 
    margin: auto;
}

.logo {
    width: 60; 
    height: 60;
    margin-left: 1%; 
    display: flex;
    border-radius: 20%
}

.header div {
    display: flex;
    margin-right: 20px;
}

.header div a {
    text-decoration: none;
    color: black;
    margin: auto;
}

.header div:hover {
    background-color: darkgoldenrod;
    border-radius: 10%;
}

.header ul .work {
    position: relative;
    display: flex;
    z-index: 10;
}

.header ul .work ul {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 100%;
    width: 100px;
    display: none;
    padding:0;
    z-index: 20;
}

.header ul .work ul li {
    z-index: 20;
    background-color: gold;
    margin-bottom:2px;
}

.header ul .work:hover ul {
    display: block;
    border-radius: 5;
}

.header ul .work ul li:hover {
    background-color: darkgoldenrod;
    border-radius: 5;
}

.img {
    display: inline-block;
    width: 25%;
    overflow: hidden;
    background: #2c2c2c;
    outline: 0px solid #1c1c1c;
    margin-top: 100px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centerbut{
    text-align: center;
}

.container {
    margin-top: 100px;
    background: #2c2c2c;
    outline: 5px solid #353535;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container_vid {
    margin-top: 100px;
    background: #2c2c2c;
    outline: 5px solid #353535;   
    display: block;
}

.container_book {
    margin-top: 100px;
    background: #2c2c2c;
    outline: 5px solid #353535;   
    display: block;
}

.container_book img:hover {
    transition: 0.5s ease;
    box-shadow: 0px 0px 20px #ffd500;
}

.flex {
    display: flex;
}

.container_hof {
    margin-top: 100px;
    background: #2c2c2c;
    outline: 5px solid #353535;   
    display: block;
}

.container_hof img:hover {
    transition: 0.5s ease;
    box-shadow: 0px 0px 20px #ffd500;
}

.mtop10px {
    margin-top: 10px;
    display: flex;
}

.underconstruct {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;

}

.underconstruct a {
    text-decoration: none;
    animation-name: underconstruct;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes underconstruct {
    from {
        color: white
    }
    to {
        color: white
    }
    50% {
        color: red
    }

}

.video{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 40%;
    aspect-ratio: 16/9;
    display: inline-flex;
}

.hof {
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 90%;   
}

.book{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 25%;
    height: auto;
    display: inline-block;
}

.videos{
    text-align: center;
}

.audio{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 640px;
    height: 360px;
    display: block;
}

.audios{
    display: block;
}

.person, .interests {
    width: 25%;
    margin: auto;
}

.container img {
    border-radius: 10%;
    width: 30%;
}

.container img:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 0px 0px 20px #ffd500;
}

.footer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.icons{
    width: 64px;
    justify-content: space-between;
}


.icons1{
    width: 32px;
    justify-content: space-between;
    height: auto;
    margin-left: auto;
}

.icons2{
    width: 32px;
    justify-content: space-between;
    height: auto;
    margin-left: 50px;
    margin-right: auto;
}

.icons:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.burger {
    display: none;
}

.math {
    display: flex;
}

.math form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    width: 100%;
}

.math form fieldset {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    margin-bottom: 30px;
}

.math form fieldset legend {
    text-align: center;
    font-size: 1.2rem;
}

.math form fieldset .counters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.math form fieldset .counter div {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: auto;
}

.math form fieldset .counter div label, input {
    margin: auto;
    text-align: center;
}

.math form fieldset .counters div input {
    width: 70%;
    font-size: 1.1rem;
    color: black;
}

.math form fieldset .butcont button {
    display: inline;
    width: 20%;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    margin: auto;
}

.math form fieldset p {
    display: flex;
    margin: 0;
}

.math form fieldset p span {
    margin: auto;
    font-size: 1.2rem;
}

.form {
    flex-direction: column;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form form fieldset input {
    margin-bottom: 10px;
}

.form form fieldset legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.form form button {
    width: 200px;
    font-size: 1.2rem;
    background-color: darkgoldenrod;
    color: white;
    margin: auto;
    margin-bottom: 20px;
}

.form form button:hover {
    font-size: 1.2rem;
    background-color: red;
    color: rgb(248, 243, 243)
}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
      }
    
      .person {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap; 
        width: 100%; 
        margin: 0; 
      }
    
      .person p {
        margin-top: 5px; 
        margin-bottom: 10px;
      }
    
      .container img {
        margin-top: 20px;
        border-radius: 10%; 
        box-shadow: 0px 0px 5px gray;
        width: 95%;
        height: auto; 
        margin: auto;
      }
    
      .container img:hover {
        transform: scale(1.03);
        transition: 0.5s ease; 
        box-shadow: 0px 0px 20px #ffd500; 
      }
    
      .interests {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
      }
    
      .interests p {
        margin-top: 10px; 
        margin-bottom: 0;
      }

    .container_hof img:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
        box-shadow: 0px 0px 20px #ffd500;
    }

    .form form fieldset {
        width: 80%;
    }

    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        margin: auto;
        margin-left: 20px;
        margin-right: 5px;
    }
    
    .burger span{
        position: absolute;
        width: 30px;
        left: 5px;
        height: 3px;
        background-color: black;
        bottom: 20px;
    }

    .burger span:nth-child(1) {
        transform: translateY(-10px);
        transition: 0.3s ease-in-out;
    }

    .burger span:nth-child(3) {
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
    }

    .header ul{
        opacity: 0;
        position: absolute;
        background: linear-gradient(rgb(230, 230, 0),rgba(170, 170, 0));
        flex-direction: column;
        width: 30%;
        height: auto;
        top: 75px;
        left: -40px;
        z-index: 2;
        left: -40%;
    }
    
    .header ul li{
        margin-top: 10px;
    }
    
    .header ul li :hover{
        background-color:rgb(158, 100, 0);
        transform: scale(1.07);
        transition: 0.4s ease;
        border-radius: 5%;
    }
    
    .header ul li a:hover{
        color: white;
    }
    
    .header ul li:nth-child(1){
        margin-top: 20px;
    
    }
    
    .header ul li a{
        margin-left:0;
        font-size: 1.2rem;
    
    }
    
    .header.open ul{
        opacity: 1;
        transform: translateX(100%);
        transition: 0.7s ease-in-out;
    }
    
    .header.open .burger span:nth-child(1){
        transform: translateY(0) rotate(45deg);
    
    }
    
    .header.open .burger span:nth-child(2){
        opacity: 0;
        transition: 0.4s ease;
    }
    .header.open .burger span:nth-child(3){
        transform: translateY(0) rotate(-45deg);
    }
    
    .header ul .work ul {
        position: absolute;
        flex-direction: column;
        left: 10px;
        top: 0;
        width: 100px;
        display: none;
        padding: 0;
        z-index: 20;
    }

    .header ul .work ul li {
        margin-top: 0;
        margin-bottom: 10%;
        background-color: unset;
        font-size: 1.2rem;
        margin-left: 10px;
        color: black;
    }

    .header ul .work ul li:hover {
        color: linear-gradient(rgb(230, 230, 0),rgba(170, 170, 0));
    }

    .header ul .work:hover ul li a {
        color: black;
        
    }
}
